# Logs
*.log
yarn-debug.log*
yarn-error.log*

# nyc test coverage
.nyc_output

# Dependency directories
node_modules/

# dotenv environment variable files
.env
.env.dev.local
.env.test.local
.env.prod.local
.env.local

# Serverless directories
.serverless/
